body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* login & signup form  */

h1 {
  text-align: center;
}

.login, .signup, .logout, .user-list, .logged-in {
  width: 50%;
  padding: 20px;
  margin: 10px auto;
  border: 1px black solid;
  border-radius: 5px;
  box-shadow: 10px 5px 15px;
  background-color: whitesmoke;
  text-align: center;
}

.login form, .signup form {
  display: flex;
  flex-direction: column;
}

.login form input, .signup form input {
  margin: 5px;
  padding: 3px;
  border-radius: 3px;
}

.login form button, .signup form button, .logout button {
  width: 25%;
  margin: auto;
  padding: 5px;
  border-radius: 15px;
  background-color: lightgrey;
}

.login form button:hover, .signup form button:hover, .logout button:hover {
  background-color: gray;
}

.test-info p, .test-info p {
  font-weight: bold;
  text-align: left;
}

.test-info span, .test-info span {
  font-weight: normal;
}

.user-list ul {
  list-style-type: none;
  padding: 0;
}